@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scroll-y {
  overflow-y: auto !important;
}

.chat-info-board {
  width: 290px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 600px) {
    position: absolute !important;
    padding-top: 0px !important;
    width: 100%;
    z-index: 1000;
  }

  @media (max-width: 767.98px) {
    .chat-bar {
      position: fixed !important;
      width: 100%;
      top: 0;
      height: 100%;
    }
  }

  .chat-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #1b1c1d;
    border-radius: 10px 10px 0 0;
  }

  .wrapper {
    width: 100%;
    bottom: 0;
    border-radius: 0;
    background: #000000;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .emoji-picker {
      position: absolute;
      bottom: 60px;
    }

    em-emoji-picker {
      --border-radius: 0 0 10px 10px !important;
      width: 270px;
    }

    .gif-picker {
      .GifPickerReact {
        --border-radius: 0 0 10px 10px !important;
        border-radius: 0 0 10px 10px !important;
      }
    }
  }

  .header {
    display: flex;
    justify-content: flex-end;
    padding: 7px 13px;
    height: 38px;
    position: relative;
    align-items: center;

    .online-wrapper {
      left: 50%;
      transform: translate(-50%);
      font-size: 14px;
      display: flex;
      position: absolute;
      align-items: center;

      .green-circle {
        width: 6px;
        height: 6px;
        background: #28a909;
        border-radius: 50%;
        margin: 0 3px;
      }
    }

    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
      margin: 0;
    }

    button.close {
      color: #97a4ae;
      text-shadow: 0 1px 0 #97a4ae;
      padding: 0;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin: 0;
    }
  }

  .input-message {
    width: 100%;
    margin: 0 auto;
    height: 67px;
    position: relative;
    z-index: 110;
    background-color: #000;
    border-top: 1px solid #2a2b2e;

    textarea {
      margin: 7px 0 0 12px;
      border: 0;
      resize: none;
      width: calc(100% - 50px);
      display: block;
      height: 34px;
      font-size: 13px;
      color: #fff;
      line-height: 1;
      background: unset;
      position: relative;
      overflow: hidden;
      outline: none !important;
    }

    .tools {
      width: calc(100% - 20px);
      position: absolute;
      bottom: 5px;
      left: 14px;
      color: #747474;
      display: flex;
      align-items: flex-end;
      font-size: 13px;

      .gif {
        margin-left: 5px;
      }

      .left-length {
        margin-left: auto;
        margin-right: 5px;
        cursor: auto;
        line-height: 1;
      }
    }

    .enter {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: url(../../assets/images/enter.svg) no-repeat;
      background-size: contain;
      height: 16px;
      padding: 0;
      width: 11px;
      cursor: pointer;
    }
  }

  .cdk-virtual-scroll-viewport {
    width: 100%;
    display: block;
    position: relative;
    overflow: auto;
    contain: strict;
    transform: translateZ(0);
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
    height: 100%;

    .cdk-virtual-scroll-content-wrapper {
      padding: 0 5px;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      contain: content;

      .bet-item {
        height: 34px;
        margin-top: 2px;
        border-radius: 8px;
        background-color: #101112;
        border: solid 1px #101112;
        font-size: 14px;
        color: #bbbfc5;
        display: flex;
        align-items: center;

        .user {
          width: 19%;
          display: flex;
          align-items: center;

          .avatar {
            margin-left: 2px;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            vertical-align: middle;
            border-style: none;
          }

          .username {
            font-size: 13px;
            color: #9ea0a3;
          }
        }

        .bet {
          min-width: 30%;
          padding-right: 10px;
          display: flex;
          justify-content: flex-end;
        }

        .multiplier-block {
          display: flex;
          font-size: 12px;
          align-items: center;
        }

        .bubble {
          padding: 2px 11px;
          border-radius: 11px;
          // color: rgb(52, 180, 255);
          background-color: #00000080;
        }

        .blue {
          color: rgb(52, 180, 255);
        }

        .purple {
          color: rgb(145, 62, 248);
        }

        .big {
          color: rgb(192, 23, 180);
        }

        .cash-out {
          flex: 1;
          padding-right: 5px;
          text-align: right;
        }

        .tools {
          min-width: 40px;
          max-width: 40px;
          padding-right: 5px !important;
          align-items: center;
          display: flex;

          .fairness-i {
            width: 14px;
            height: 16px;
            cursor: pointer;
          }

          .share-i {
            width: 16px;
            height: 14px;
            cursor: pointer;
            margin-left: 5px;
          }
        }

        &.celebrated {
          border-color: #427f00;
          background-color: #123405;
          color: #fff;
        }
      }
    }
  }
}

.gif-picker {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 6px;
  height: auto;
  bottom: 60px;
}

.message-wrapper {
  display: flex;
  width: 100%;
  padding: 0 10px 0 8px;
  align-items: flex-start;
  border-radius: 8px;
  line-height: normal;

  .avatar-block {
    text-align: center;

    .avatar {
      min-width: 22px;
      min-height: 22px;
      max-width: 22px;
      max-height: 22px;
      border-radius: 50%;
    }
  }
  .msg-block {
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px 10px 5px 4px;
    &.msg-block-typ-header {
      padding: 2px 10px 5px 5px;
    }

    .header-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .reply-mobile-wrapper {
        display: inline-block;
        width: 60px;
        position: absolute;
        top: -16px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      .reply-wrapper {
        display: none;
      }
    }

    .msg-data .text {
      margin-top: 3px;
      word-break: break-word;
    }
    .msg-data .text .reply {
      color: #fff;
    }
    .msg-data .text .reply-me {
      color: #e50539;
    }
    .msg-data .text .emoji {
      font-size: 24px;
    }
  }

  .likes-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 32px;
  }
}

.gif-preview {
  width: 180px;
  visibility: visible !important;
}

.name-wrapper {
  margin-right: 6px;
  align-items: center;
  .name {
    color: #ffffff80;
    cursor: pointer;
  }
  .name:hover {
    cursor: pointer;
    color: #fff;
  }
  .prefix {
    color: #013674;
    font-size: 11px;
    margin-left: 3px;
    padding: 1px 3px;
    border-radius: 4px;
  }
  .prefix-mod {
    background-color: #27a708;
  }
  .prefix-bot {
    background-color: #1279f1;
  }
}

.btn-block {
  margin-top: 4px;
  height: 12px;
  display: flex;
  justify-content: center;
  color: #767b85;

  .likes-number {
    position: relative;
  }

  .btn-like {
    height: 100%;
    width: 12px;
    padding: 0;
    margin: 0 2px;
    cursor: pointer;
    background-image: var(--urlImgLike);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    --urlImgLike: url(../../assets/images/like.svg);
    --urlImgLikeH: url(../../assets/images/like-h.svg);
  }
  .btn-like.active {
    background-image: var(--urlImgLikeH);
  }
  .btn-like:active {
    transform: translateY(1px);
    background-image: var(--urlImgLikeH);
  }

  @media (pointer: fine) and (hover: hover) {
    .btn-like:hover {
      background-image: var(--urlImgLikeH);
    }
  }
}
