$box-color: rgba(35, 30, 60, 1);
$btn-color: linear-gradient (90deg, rgb(43, 35, 87) 0%, rgb(43, 35, 87) 100%);

.game-play {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 0 10px 10px;

  .result-history {
    min-height: 22px;
    max-height: 22px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .stats {
      height: 22px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 5px;
      font-size: 12px;

      .payouts-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .payouts-block {
          display: flex;

          .payout {
            display: flex;
            margin-right: 4px;
            margin-left: 1px;
            position: relative;
            z-index: 1;
            cursor: pointer;

            .item {
              padding: 2px 11px;
              border-radius: 11px;
              background-color: #00000080;
              font-weight: 700 !important;
            }

            .blue {
              color: rgb(52, 180, 255);
            }

            .purple {
              color: rgb(145, 62, 248);
            }

            .big {
              color: rgb(192, 23, 180);
            }
          }
        }

      }

      .shadow {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .button-block {
        height: 100%;
        width: 52px;
        z-index: 101;

        .button {
          margin-left: 6px;
          position: relative;
          z-index: 9;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 46px;
          height: 22px;
          border-radius: 13px;
          border: solid 1px #414148;
          background: #252528;
          cursor: pointer;

          .trigger {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              .history-icon {
                background: url(../../assets/images/history-i-hover.svg) no-repeat center center/contain;
              }

              .dd-icon {
                background: url(../../assets/images/dd-hover.svg) no-repeat center center/contain;
              }
            }

            .history-icon {
              width: 14px;
              height: 13px;
              background: url(../../assets/images/history-i.svg) no-repeat center center/contain;
              margin-right: 5px;
            }

            .dd-icon {
              width: 10px;
              height: 10px;
              transition: transform .5s;
              background: url(../../assets/images/dd.svg) no-repeat center center/contain;

              &.up {
                transform: rotate(180deg);
              }
            }
          }
        }

        .dropdown-toggle {
          white-space: nowrap;
        }
      }
    }
  }

  .stage-board {
    height: 100%;
    position: relative;

    .play-board-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;

      .stage-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 1px solid #2A2B2E;
        overflow: hidden;
      }

      .dom-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .fun-mode {
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(229, 148, 7, .8);
          text-align: center;
          font-size: 14px;
          font-weight: 700;
          width: 100%;
          border-radius: 20px 20px 0 0;
          border: 1px solid #e59407;
        }
      }
    }
  }

  .bet-controls {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 10px;
    width: 100%;

    .controls {
      display: flex;
      justify-content: center;
      width: 100%;

      .bet-control {
        width: 100%;
        height: 170px;
        max-width: 750px;
        min-width: 310px;
        border-radius: 20px;
        margin-right: 5px;

        .controls {
          display: flex;
          position: relative;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background-color: #1b1c1d;
          height: 100%;
          margin: 0 auto;
          border: solid 1px transparent;

          .navigation {
            height: 24px;
            font-size: 12px;
            margin-bottom: auto;
            margin-top: 10px;

            .navigation-switcher {
              height: 100%;
              background: #141516;
              border-radius: 10px;
              border: solid 1px #141516;
              position: relative;

              button {
                height: 100%;
                position: relative;
                text-align: center;
                background: none;
                border: none;
                color: #9ea0a3;
                padding: 0;
                cursor: default;
                -webkit-appearance: button;
                cursor: pointer;
                outline: none !important;
                width: 100px;

                &.active {
                  color: white;
                  background: rgb(44, 45, 48);
                  border-radius: 10px;
                }
              }
            }
          }

          .first-row {
            width: calc(100% - 20px);
            max-width: 390px;
            display: flex;
            justify-content: center;
            margin: 0 auto auto;
          }

          .second-row {
            display: flex;
            width: 100%;
            max-width: 390px;
            justify-content: space-around;
            align-items: center;
            height: 40px;
            color: #9ea0a3;

            .auto-bet-wrapper {
              margin-left: 5px;

              .auto-bet {
                font-size: 12px;
                text-align: center;
                display: flex;
                align-items: center;

                .auto-play-btn {
                  height: 22px;
                  width: 100px;
                  border-radius: 17px;
                  padding: 0;
                  font-size: 12px;
                  cursor: pointer;
                }
              }
            }

            .cashout-block {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 5px;

              .cashout-switcher {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                .label {
                  font-size: 12px;
                  margin: 0 5px 0 0;
                  text-align: center;
                }
              }

              .cashout-snipper-wrapper {
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 5px;

                .cashout-snipper {
                  height: 30px;
                  width: 80px;
                  display: flex;
                  font-size: 16px;

                  .snipper {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: opacity .1s;
                    border-radius: 22px;
                    background-color: #000000b3;
                    font-weight: 700;
                    font-size: inherit;
                    line-height: 1;
                    padding-left: 10px;
                    padding-right: 10px;

                    .input {
                      display: flex;
                      align-items: center;
                      width: calc(100% - 10px);
                      height: 100%;

                      input {
                        width: 100%;
                        border: 0;
                        background: transparent;
                        color: #fff;
                        text-align: inherit;
                        padding: 0;
                        font-weight: 700 !important;
                        outline: none;
                      }
                    }

                    .text {
                      line-height: 1;
                      color: #fff;
                      opacity: .5;
                      padding: 0;
                      font-size: 16px;
                    }

                    &.small {
                      padding-right: 5px;
                    }

                  }
                }
              }
            }
          }

          .bet-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 140px;

            .bet-spinner {
              height: 34px;
              font-size: 18px;

              .spinner {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: opacity .1s;
                border-radius: 22px;
                background-color: #000000b3;
                font-weight: 700;
                font-size: inherit;
                line-height: 1;
                padding-left: 10px;
                padding-right: 10px;

                .buttons {
                  display: inline-flex;
                  align-items: center;

                  .minus {
                    background-color: transparent;
                    background-image: url(../../assets/images/minus.svg);
                  }

                  .plus {
                    background-color: transparent;
                    background-image: url(../../assets/images/plus.svg);
                  }

                  button {
                    margin: 0;
                    padding: 0;
                    background: #ffffff;
                    border: none;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    min-width: 18px;
                    min-height: 18px;
                    color: #000000b3;
                    text-align: center;
                    line-height: 16px;
                    font-weight: 700;
                  }
                }

                .input {
                  display: flex;
                  align-items: center;
                  width: calc(100% - 35px);
                  height: 100%;

                  input {
                    width: 100%;
                    border: 0;
                    background: transparent;
                    color: #fff;
                    text-align: inherit;
                    padding: 0;
                    font-weight: 700;
                    outline: none;
                  }
                }
              }
            }

            .bet-opt-list {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              font-size: 14px;
              color: #9ea0a3;
              width: 100%;

              .bet-opt {
                font-size: 14px;
                width: 64px;
                height: 18px;
                margin-top: 4px;
                line-height: 1;
                padding: 0;
                background: #141516;
                border: none;
                cursor: pointer;
                border-radius: 100px;
                background-color: #252528;
                color: #83878e;
                text-align: center;
                box-shadow: none;

                &:nth-child(even) {
                  margin-left: 4px;
                }

                span {
                  color: #ffffff80;
                }
              }
            }
          }

          .buttons-block {
            width: calc(100% - 145px);
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .btn-tooltip {
              font-size: 14px;
              color: #ffffffb3;
              text-align: center;
            }

            button {
              width: 100%;
              height: 100%;
              font-size: 20px;
              cursor: pointer;
              border-radius: 20px;

              span {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                label {
                  margin: 0;
                  line-height: 1;
                  cursor: pointer;
                  text-transform: uppercase !important;
                  display: inherit;

                  &.amount {
                    font-size: 24px;
                    margin-top: 2px;
                  }

                  .currency {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sec-hand-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  &.add{
    background: #427f00 url('../../assets/images/plus-1.svg') no-repeat center center;
  }
  &.minus{
    background: #427f00 url('../../assets/images/remove.svg') no-repeat center center;
  }
}

.border-line {
  height: 2px;
  background: #141516;
  width: 100% !important;
}

.btn-success {
  border: solid 1px #b2f2a3;
  background-color: #28a909;
  box-shadow: inset 0 1px 1px #ffffff80;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.btn-primary {
  border: solid 1px #46c0f2;
  border-radius: 17px;
  background-color: #1d7aca;
  color: #fff;
  text-align: center;
  box-shadow: none;
}

.btn-waiting {
  border: solid 1px #ffbd71;
  background-color: #d07206;
  box-shadow: inset 0 1px 1px #ffffff80;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.btn-danger {
  border: solid 1px #ff7171;
  background-color: #cb011a;
  box-shadow: inset 0 1px 1px #ffffff80;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.btn-secondary {
  border: 1px solid #36363C;
  border-radius: 100px;
  background-color: #252528;
  color: #83878e;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  width: 58px;
  margin-left: 0;
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.success {
  color: white !important;
  background-color: rgb(123, 81, 238) !important;
}

.failed {
  background-color: rgb(66, 66, 66) !important;
  color: white !important;
}

.history {
  height: 30px;
  width: 100%;
  justify-content: end;

  .item {
    background-color: rgb(43, 43, 43);
    padding: 5px 10px;
    margin-left: 15px;
    border-radius: 4px;
    min-width: 65px;
    text-align: center;
  }

  .blue {
    color: #14889c;
  }

  .purple {
    color: rgb(114, 49, 102);
  }
}

.crash-container {
  height: 100%;
}

.crash {
  height: 69%;
  width: 100%;
  background: linear-gradient(90deg, rgba(35, 29, 77, 1) 100%);
  gap: 10px;
  border-radius: 15px;
  padding: 10px;

  @media screen and (max-width: 1314px) {
    height: 100%;
  }
}

.crash-text-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crashtext {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  color: white;

  .flew-away {
    color: white;
    font-size: 40px;
    margin-top: 25px;
  }

  &.wait {
    top: 35%;
  }

  @media (max-width: 1314px) {
    font-size: 60px;

    &.wait {
      top: 22%;
    }

    .flew-away {
      font-size: 25px;
      margin-top: 15px;
    }
  }

  &.red {
    color: red !important;
  }
}

.font-9 {
  font-size: 40px;

  @media (max-width:992px) {
    font-size: 30px;
  }
}

.disabled {
  background-color: #131313b3 !important;
}

.dropdown-menu {
  will-change: transform;
  position: absolute;
  transform: translate(-5px, 22px);
  top: 0;
  left: 0;
  background-color: initial;
  border: unset;
  margin: -26px 0 0;
  padding: 0;
  right: auto;
  bottom: auto;
  z-index: 100;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  border-radius: 0.25rem;
  background-clip: padding-box;

  .wrapper {
    border-radius: 16px;
    box-shadow: 0 2px 20px #00000080;
    background-color: #1f2128;
    margin: 0 5px;
    width: 100%;

    .header-2 {
      height: 32px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;

      div {
        margin-left: 10px;
        text-transform: uppercase;
      }
    }

    .payouts-block {
      background-color: #262830;
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      border-radius: 0 0 16px 16px;
      font-size: 12px;

      .payout {
        margin: 3px;
        cursor: pointer;

        .bubble-multiplier {
          padding: 3px 11px;
          border-radius: 11px;
          background-color: #00000080;
          font-weight: 700;
        }
      }

      .blue {
        color: rgb(52, 180, 255);
      }

      .purple {
        color: rgb(145, 62, 248);
      }

      .big {
        color: rgb(192, 23, 180);
      }
    }
  }
}

.waiting {
  margin-top: 10px;
  width: 250px;
  background-color: rgb(138, 138, 138);
  border-radius: 8px;

  div {
    background-color: rgb(190, 13, 13);
    height: 100%;
    border-radius: 8px;
    padding: 2px 0;
    color: white;

    @media (max-width:560px) {
      padding: 2px 0;
    }
  }

  .width-transition {
    transition: width 0.3s ease-in-out;
  }

  @media (max-width: 560px) {
    width: 200px;
  }
}

.betPanel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  // height: 35%;

  @media (max-width: 1150px) {
    align-items: center;
    flex-direction: column;
    // margin-top: 100px;
  }
}

.autobet {
  width: 100%;

  .bet-ctrl {
    width: 40%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(95, 74, 216);
    padding: 5px;
    border-radius: 10px;

    .amount {
      padding: 2px;
      justify-content: space-between !important;
      background: linear-gradient 90deg, rgb(43, 35, 87) 0%, rgb(43, 35, 87) 100%;
      border-radius: 40px;
      color: rgb(155, 155, 155);
      font-weight: bold;
      width: 100%;

      button {
        background-color: transparent;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 10px;
        height: 200%;
        padding: 5px;
        color: white;
        cursor: pointer;
        outline: none;
        font-size: 20px;
        font-weight: 800;
      }
    }

    button {
      border: 1px solid white;
      outline: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      padding: 5px;
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      text-align: center;
      font-size: 20px;
      width: 100%;

    }
  }

  .autoPlay {
    button {
      width: 100%;
      padding: 15px;
      cursor: pointer;
      color: white;
      font-size: 20px;
      border-radius: 20px;
      border: none;
      background: linear-gradient(83deg, rgb(52, 31, 147) 0%, rgb(98, 19, 156) 100%, rgb(27, 0, 55) 100%);

      @media (max-width:556px) {
        padding: 10px;
      }
    }
  }
}

.modal {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  outline: 0;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    transition: transform .3s ease-out;
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      color: #fff;
      background: #1b1c1d;
      border: 0;
      border-radius: 8px;

      .modal-header {
        display: flex;
        justify-content: space-between;
        border: 0;
        padding: 0 10px;
        height: 36px;
        align-items: center;
        font-size: 16px;
        background: #2C2D30;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-weight: 400 !important;

        .close {
          float: right;
          font-size: 1.5rem;
          font-weight: 700;
          background-color: transparent;
          border: none;
          line-height: 1;
          color: #97a4ae;
          text-shadow: 0 1px 0 #97a4ae;
          cursor: pointer;
          padding: 5px 15px 5px 5px;
          margin: -1rem -1rem -1rem auto;
          opacity: .5;
        }
      }

      .modal-body {
        padding: 10px;
        font-size: 14px;

        .youtube {
          display: block;
          width: calc(100% + 1rem);
          margin-left: -0.5rem;
          margin-right: -1rem;

          .embed-responsive {
            position: relative;
            display: block;
            width: 100%;
            padding: 0;
            overflow: hidden;

            &::before {
              padding-top: 56.25%;
              display: block;
              content: "";
            }

            .embed-responsive-item {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 0;
            }
          }
        }

        .step {
          display: flex;
          color: #5f3816;
          margin-top: 15px;

          .bullet {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: url("../../assets/images/01.svg") no-repeat right;
            background-size: 40px 40px;
            min-width: 65px;
            max-width: 65px;
            height: 40px;
            font-size: 18px;
            font-weight: 700;
          }

          .bullet-2 {
            background: url("../../assets/images/02.svg") no-repeat right;
            background-size: 40px 40px;
          }

          .bullet-3 {
            background: url("../../assets/images/03.svg") no-repeat right;
            background-size: 40px 40px;
          }

          p {
            padding-left: 15px;
            margin-bottom: 0;
            margin-top: 0;
          }
        }

        .content-part {
          background-color: #2c2d30;
          border-radius: 10px;
          padding: 15px 10px;
          display: flex;
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 5px;
          justify-content: space-between;
          align-items: center;

          .title {
            opacity: .4;
            margin-right: auto;
            padding: 0 3px 0 5px;
            text-align: left;
          }

          .spinner {
            height: 34px;
            font-size: 18px;
            min-width: 130px;
            width: 130px;
            text-align: center;
            margin-left: auto !important;

            .m-spinner {
              height: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: opacity .1s;
              border-radius: 22px;
              background-color: #000000b3;
              font-weight: 700;
              font-size: inherit;
              line-height: 1;
              padding-left: 10px;
              padding-right: 10px;

              .buttons {
                display: inline-flex;
                align-items: center;

                button {
                  margin: 0;
                  padding: 0;
                  background: #ffffff;
                  border: none;
                  width: 18px;
                  height: 18px;
                  cursor: pointer;
                  min-width: 18px;
                  min-height: 18px;
                  color: #000000b3;
                  text-align: center;
                  line-height: 16px;
                  font-weight: 700;
                }

                .minus {
                  background-color: transparent;
                  background-image: url(../../assets/images/minus.svg);
                }

                .plus {
                  background-color: transparent;
                  background-image: url(../../assets/images/plus.svg);
                }
              }

              .input {
                display: flex;
                align-items: center;
                width: calc(100% - 35px);
                height: 100%;

                input {
                  width: 100%;
                  border: 0;
                  background: transparent;
                  color: #fff;
                  text-align: inherit;
                  outline: none;
                  font-weight: 700;
                  padding: 0;
                }
              }
            }
          }
        }

        .content-part-1 {
          flex-direction: column;
          justify-content: center;
          padding-bottom: 12px;
          text-align: center;

          .rounds-wrap {
            width: 100%;
            max-width: 290px;
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px !important;

            .onClick {
              color: #fff;
              background-color: #545b62;
              border: solid 1px #60ae05;
              box-shadow: none;
            }
          }
        }
      }

      .modal-footer {
        font-size: 14px;
        border: 0;
        background: #2C2D30;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        .btns-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;


          .reset-btn {
            min-width: 80px;
            height: 22px;
            padding: 0;
            margin-right: 7.5px;
            cursor: pointer;
            border-radius: 20px;
          }

          .start-btn {
            width: 160px;
            height: 30px;
            padding: 0;
            border-radius: 20px;
            margin-left: 7.5px;
            font-size: 1.25rem;
            line-height: 1.5;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.input-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0 2px;
  justify-content: flex-end;
  width: 36px;
  height: 18px;
  border-radius: 9px;
  border: solid 1px #60ae05;
  background-color: #229607;

  &.off {
    border: 1px solid rgba(255, 255, 255, .51);
    background: none;
    justify-content: flex-start;
  }

  .oval {
    min-width: 14px;
    max-width: 14px;
    height: 14px;
    box-shadow: inset 0 0 7px #00000029;
    background-color: #fff;
    border: solid 2px #a3b98a;
    border-radius: 50%;
  }
}

.justify-space {
  justify-content: space-between !important;
}

.opacity-100 {
  opacity: 1
}

.opacity-98 {
  opacity: 0.98;
}

.opacity-96 {
  opacity: 0.96;
}

.opacity-94 {
  opacity: 0.94;
}

.opacity-92 {
  opacity: 0.92;
}

.opacity-90 {
  opacity: 0.90;
}

.opacity-88 {
  opacity: 0.88;
}

.opacity-86 {
  opacity: 0.86;
}

.opacity-84 {
  opacity: 0.84;
}

.opacity-82 {
  opacity: 0.82;
}

.opacity-80 {
  opacity: 0.80;
}

.opacity-78 {
  opacity: 0.78;
}

.opacity-76 {
  opacity: 0.76;
}

.opacity-74 {
  opacity: 0.74;
}

.opacity-72 {
  opacity: 0.72;
}

.opacity-70 {
  opacity: 0.70;
}

.opacity-68 {
  opacity: 0.68;
}

.opacity-66 {
  opacity: 0.66;
}

.opacity-64 {
  opacity: 0.64;
}

.opacity-62 {
  opacity: 0.62;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-58 {
  opacity: 0.58;
}

.opacity-56 {
  opacity: 0.56;
}

.opacity-54 {
  opacity: 0.54;
}

.opacity-52 {
  opacity: 0.52;
}

.opacity-50 {
  opacity: 0.50;
}

.opacity-48 {
  opacity: 0.48;
}

.opacity-46 {
  opacity: 0.46;
}

.opacity-48 {
  opacity: 0.48;
}

.opacity-46 {
  opacity: 0.46;
}

.opacity-44 {
  opacity: 0.44;
}

.opacity-42 {
  opacity: 0.42;
}

.opacity-40 {
  opacity: 0.40;
}

.opacity-38 {
  opacity: 0.38;
}

.opacity-36 {
  opacity: 0.36;
}

.opacity-34 {
  opacity: 0.34;
}

.opacity-32 {
  opacity: 0.32;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto !important;
  }
}

@media (min-width: 992px) {
  .game-play {
    width: calc(100% - 320px) !important;
  }
}

@media (min-width: 1200px) {
  .game-play {
    width: calc(100% - 370px) !important;
  }
}

@media (min-width: 1399.98px) {
  .game-play {
    width: calc(100% - 410px) !important;
  }
}

@media (max-width:992px) {
  .stage-board {
    height: calc(40vh - 38px) !important;
    min-height: 200px !important;
  }

  .game-play {
    padding: 0 !important;
  }

  .controls .bet-control {
    height: auto;
    min-height: 150px;

    &:first-child {
      margin-bottom: 5px;
    }
  }

}

@media (max-width:634px) {
  .controls {
    flex-wrap: wrap;
  }
}

@media (max-width:414px) {
  .crashtext {
    .waiting-font {
      font-size: 22px;
    }

    .flew-away {
      font-size: 18px;
    }
  }
}