$normalBg: #2c2d30;
$whiteBg: #868b8d;

.header-first {
  display: flex;
  gap: 20px;
}

.key-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin-top: 5px;
  padding: 12px 23px 14px 20px;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 24px;

  .main-key {
    color: #fff;
  }

  .key {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 8px;
    height: 20px;
    white-space: nowrap;
  }

  .current {
    color: #868b8d;
  }

  .copy-icon {
    cursor: pointer;
  }
}

.client-seed {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-custom {
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    background-color: #0707084d;
    border-radius: 8px;

    #randomString {
      background-color: #0006;
      accent-color: #38ca07;
    }

    .label {
      cursor: pointer;
      display: flex;
      align-items: center;

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .key-change {
      display: flex;
      justify-content: center;

      button {
        margin-top: 10px;
      }
    }
  }
}

.server-seed {
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    align-self: flex-start;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
  }

  &-value-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 13px;
  }
}

.btn {
  border-radius: 20px;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

.btn-success {
  border: solid 1px #b2f2a3;
  background-color: #28a909;
  box-shadow: inset 0 1px 1px #ffffff80;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-success:hover {
  border: solid 1px #b2f2a3;
  background-color: #36cb12;
  box-shadow: inset 0 1px 1px #ffffff80;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.modal-body {
  color: $whiteBg;
}

.server-key-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin-top: 5px;
  padding: 12px 23px 14px 20px;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

.modal-footer {
  font-size: 14px;
  border: 0;
  background: #2c2d30;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px !important;
  font-size: 13px;
  color: $whiteBg;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  background-color: #0006;
  border: solid 1px #38ca07;
  border-radius: 50%;
  margin-right: 5px;

  .dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #38ca07;
  }
}

.setting-dropdown {
  border-radius: 0.25rem;
  background-color: $normalBg;
  // background-color: #1b1c1d;
  width: 320px;
  top: 0;
  left: -35px;
  will-change: transform;
  position: absolute;
  transform: translate(-282px, 26px);
  border-radius: 0.25rem;

  &-item {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    justify-content: space-between;
  }
  & > p {
    margin: 0;
    padding: 0.375rem 0.88rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    min-width: 140px;
  }
  & > p:hover {
    color: #fff;
    background-color: #0062cc;
  }
  & > p:last-child {
    border-bottom: 0 none;
  }

  &-item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #0006;
  }

  .first-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px !important;
    background-color: #2c2d30;
    border-radius: 0.25rem;

    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      color: #fff;
      width: 50%;

      .avatar {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }

    .avatar-change {
      background: #252528;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: #83878e;
      cursor: pointer;
      padding: 6px 15px 6px 10px;
      width: auto;
      border: solid 1px #414148;
      border-radius: 21px;

      .avatar-logo {
        width: 20px;
        height: 20px;
      }

      .change-text {
        margin-left: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1;
      }
    }
  }
}

.setting-second-block {
  padding-bottom: 14px;
}

.logout {
  font-size: 12px;
  line-height: 12px;
  color: #9ea0a3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.special-modal-body {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.client-seed-custom {
  &.block-key {
    .key-container {
      opacity: 0.2;
    }
    .key-change button {
      opacity: 0.2;
    }
  }
}

.seed-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(23, 30, 35, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  .seed-change {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 310px;
    height: 210px;
    box-shadow: 0 0 50px 4px #000000bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    .seed-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: 0;
      padding: 0 10px;
      min-height: 36px;
      max-height: 36px;
      align-items: center;
      font-size: 16px;
      background: #2c2d30;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .seed-body {
      background: #1b1c1d;
      width: 100%;
      height: 100%;
      padding: 16px 10px 20px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      &-title {
        font-size: 14px;
        margin-bottom: 6px;
      }
      .seed-value {
        position: relative;
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          background-color: #000;
          border-radius: 22px;
          border: none;
          padding: 5px 15px;
          color: #fff;
          width: 100%;
          height: 30px;
          margin-bottom: 12px;
        }
      }
      .actions {
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
      }
    }
  }
}

.btn {
  width: 135px;
  height: 30px;
  font-size: 16px;
  line-height: 1.2;
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  border: 1px solid #6c757d;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem #6c757d80;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #6c757d80;
}

.content .game-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #333;
  background-position: center;
  cursor: pointer;

  &.active {
    border: 4px solid #428a12;
    cursor: default;
  }
}

.img-item {
  display: inline-block;
}

.img-btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
